/* Stile per il contenitore */
.container {
  text-align: center;
  background-color: #ebebeb;
  font-family: Helvetica, sans-serif;
}

.contentContainer {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center;
  margin-top: 60px; 
}

.heading {
  margin-bottom: 20px; /* Spazio tra h1 e le card */
}

/* Stile per la navbar */
.navbar {
  background-color: #000000;
  padding: 20px;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}

/* Logo nella navbar */
.navLogo {
  width: 150px; 
  height: auto;
}

/* Lista di navigazione nella navbar */
.navList {
  list-style-type: none;
  margin: 0; 
  padding: 0; 
  display: flex;
  justify-content: space-around;
}

/* Elementi della lista di navigazione */
.navItem {
  padding: 10px; 
}

.navItem a { 
  color: white; 
  text-decoration: none;
  font-size: 18px;
}

/* Hover su link della navbar */
.navItem a:hover {
  background-color: #575757;
  border-radius: 5px;
}

/* Logo Home */
.logo {
  width: 100%;    
  height: 630px; 
  object-fit: cover; 
}

/* Testo sopra l'immagine */
.imageText {
  position: absolute; 
  top: 80%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
  font-size: 28px; 
  font-weight: bold; 
  padding: 10px;
  border-radius: 8px; 
}

/* Contenitore delle card */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;     
  justify-content: center;  
  margin-top: 60px;
}

/* Card */
.card {
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  width: 200px;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 530px; 
}

/* Immagine della card */
.cardImage {
  width: 100%;   
  height: auto;  
}

/* Titolo della card */
.cardTitle {
  margin: 10px 0; 
  font-size: 20px; 
}

/* Autore della card */
.cardAuthor {
  margin: 10px 10px;   
  font-size: 16px; 
  color: #555;     
}

/* Pulsante di play */
.playButton {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover sul pulsante di play */
.playButton:hover {
  background-color: #ebebeb;  
  color: #000000;
}

/* Stile per il footer */
.footer {
  background-color: #000000;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  color: white;
  margin-top: 140px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5); 
}

/* Logo nel footer */
.footerLogo {
  margin-bottom: 20px; /* Spazio tra il logo e la nav del footer */
}

.footerLogoImage {
  width: 150px;
  height: auto;
}

/* Navigazione nel footer */
.footerNav {
  margin-bottom: 20px; /* Spazio tra la nav e il testo del footer */
}

.footerNav .navList {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footerNav .navItem {
  margin: 0 15px; /* Spazio tra gli elementi di navigazione */
}

/* Testo del footer */
.footerText {
  text-align: center;
  margin-top: 10px;
}

.footerText p {
  margin: 5px 0; 
}

/* Contatti */

.heading {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.contactDetails {
  margin-bottom: 40px;
}

.contactDetails p {
  font-size: 1.2em;
  margin: 5px 0;
}

.contactForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; 
  max-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  resize: none;
}

.formGroup {
  width: 100%;
  max-width: 700px;
  margin-bottom: 20px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: none;
}

.submitButton {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  display: block; 
}

.submitButton:hover {
  background-color: #333333; /* Cambia il colore di sfondo quando si passa sopra */
}
