body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
  }
  
  .Layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .content {
    flex: 1;
    padding: 200px 200px 200px 200px; 
  }
  
  .footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }
  