.App {
  text-align: center;
  margin: 20px;
}

form {
  margin-bottom: 20px;
}

input {
  margin: 5px;
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

li span {
  flex: 1;
}

li button {
  background-color: #ebeb20;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

li button:hover {
  background-color: #ebeb20;
}
