<<<<<<< HEAD
/* App.css */

body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1e;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
  }
  
  .add-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
  }
  
  .add-button:hover {
    background-color: #45a049;
  }
  
  .todos {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .todo-item {
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
  }
=======
/* App.css */

body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1e;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
  }
  
  .add-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
  }
  
  .add-button:hover {
    background-color: #45a049;
  }
  
  .todos {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .todo-item {
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
  }
>>>>>>> f5516dda867c56536613e003d050e9e758f98dfc
  