.product-lightbox {
  width: 450px;
}

.thumbnail-list {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.thumbnail-list > li {
  list-style: none;
}

.button-container {
  margin-top: 16px; 
  text-align: right; 
}
